h1{
	text-align: center;
}
.right{
	color: #00E0B0;
}
.error{
	color: red;
}
.testInfoFather{
	margin-top: 30px; 
	margin-bottom: 30px;
}
.testInfo{
	float:left;
	margin: 5px 50px;
	color: #ADADAD;
}
#studentInfo td{
	text-align: center;
	vertical-align: middle;
}
#studentInfo{
	margin-bottom: 50px;
}
